<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5743c748-90ac-4f89-8b05-c16ce8763190/resourcegroups/apps-kp-prod/providers/Microsoft.Web/sites/konsultimipublik</ResourceId>
    <ResourceGroup>apps-kp-prod</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>PROD_ALB</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://konsultimipublik.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>konsultimipublik.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>konsultimipublik</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$konsultimipublik</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:konsultimipublikdbserver.database.windows.net,1433;Initial Catalog=konsultimipublik.data;User ID=enes.pelko@konsultimipublikdbserver;Password=Ge67$w0KA%O!" Name="Data Source=tcp:konsultimipublikdbserver.database.windows.net,1433;Initial Catalog=konsultimipublik.data;User Id=enes.pelko@konsultimipublikdbserver;Password=Ge67$w0KA%O!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JavnaRasprava.WEB.DomainModels.DefaultContext, JavnaRasprava.WEB" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:konsultimipublikdbserver.database.windows.net,1433;Initial Catalog=konsultimipublik.data;User ID=enes.pelko@konsultimipublikdbserver;Password=Ge67$w0KA%O!" Name="Data Source=tcp:konsultimipublikdbserver.database.windows.net,1433;Initial Catalog=konsultimipublik.data;User Id=enes.pelko@konsultimipublikdbserver;Password=Ge67$w0KA%O!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="JavnaRasprava.WEB.DomainModels.ApplicationDbContext, JavnaRasprava.WEB" MigrationConfiguration="JavnaRasprava.WEB.Migrations.ApplicationDbContext.Configuration, JavnaRasprava.WEB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="default" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:konsultimipublikdbserver.database.windows.net,1433;Initial Catalog=konsultimipublik.data;User ID=enes.pelko@konsultimipublikdbserver;Password=Ge67$w0KA%O!" Name="Data Source=tcp:konsultimipublikdbserver.database.windows.net,1433;Initial Catalog=konsultimipublik.data;User Id=enes.pelko@konsultimipublikdbserver;Password=Ge67$w0KA%O!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=ALB.JavnaRasprava.Scheduler;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(local);Initial Catalog=ALB.JavnaRasprava.Scheduler;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="default-Web.config Connection String">
      <ParameterValue>Data Source=tcp:konsultimipublikdbserver.database.windows.net,1433;Initial Catalog=konsultimipublik.data;User Id=enes.pelko@konsultimipublikdbserver;Password=Ge67$w0KA%O!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:konsultimipublikdbserver.database.windows.net,1433;Initial Catalog=konsultimipublik.data;User Id=enes.pelko@konsultimipublikdbserver;Password=Ge67$w0KA%O!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:konsultimipublikdbserver.database.windows.net,1433;Initial Catalog=konsultimipublik.data;User Id=enes.pelko@konsultimipublikdbserver;Password=Ge67$w0KA%O!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultContext" />
  </ItemGroup>
</Project>