@{
    ViewBag.Title = GlobalLocalization.Account_ResetPasswordConfirmation_PageTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @GlobalLocalization.Account_ResetPassword_ConfirmationText 
        @Html.ActionLink( GlobalLocalization.Account_ResetPassword_ConfirmationLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" } )
    </p>
</div>
