@model LawSectionSummaryModelCollection

<div class="clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><i class="fa fa-lightbulb-o"></i> @Model.Title</strong> 
            <a class="pull-right" href="@Url.RouteUrl(JavnaRasprava.Resources.Routes.AllSections_Index, new { pCode = ViewBag.ParliamentCode })">
                <strong><i class="fa fa-link"></i>@GlobalLocalization.JavnaRasprava_HomePage_AllSections_Link</strong>
            </a>
        </div>
        <br />

            @foreach ( var item in Model.Sections )
            {
                @Html.Partial( "_lawSectionBox", item );
            }
        <div class="clearfix"></div>
        <br />
    </div>
</div>


