@model PagedList.IPagedList<JavnaRasprava.WEB.Models.News.NewsModel>


<div class="clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><i class="fa fa-book"></i>@GlobalLocalization.Global_News</strong>
        </div>
        <br />

        @if ( Model.Count == 0 )
        {
            <h5>@GlobalLocalization.Global_SearchResults_NoResultsMessage</h5>
        }

        @foreach ( var item in Model )
        {
            @Html.Partial( "_newsBox", item );
        }
        
        <div class="clearfix"></div>
        <br />
    </div>
</div>


