
@{
    ViewBag.Title = JavnaRasprava.Resources.StaticPageData.About_PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>O nama</h2>
<div class="row">
	<div class="col-md-8">
		<p><strong>javnarasprava.ba</strong> je web platforma na kojoj imate mogućnost da direktno učestvujete u procesima donošenja odluka u BiH kao i priliku da komunicirate sa onima koji te odluke i donose. Putem ove stranice možete saznati više o procesu donošenja zakona u BiH i radu zakonodavnih tijela na državnom i entitetskim nivoima; uključiti se u raspravu o prijedlozima zakona koji se nalaze u proceduri; komunicirati sa izabranim parlamentarcima ili pokrenuti peticiju ili inicijativu koja će biti upućena odgovornim.</p>
		<p><strong>javnarasprava.ba</strong> pokrenuta je od strane U.G. "Zašto ne" organizacija koja je više godina posvećena stvaranju odgovornog društva kroz promociju i uspostavu mehanizama političke odgovornosti u BiH, jačanje građanskog aktivizma, te korištenje novih medija i tehnologija. Primjeri implementacije sličnih platformi i inicijativa unazad nekoliko godina veoma uspješno funkcionišu u drugim zemljama, a javnarasprava.ba upravo treba da doprinese većem otvaranju vlasti prema građanima/kama i u našoj zemlji.</p>
	</div>
	<div class="col-md-4">
		<p>
			<strong>Impressum:</strong><br>
			Urednik: Dalio Sijah<br>
			Istraživaći: Aida Ajanović i Danijel Stjepanović<br>
			Administrator: Damir Dajanović<br>
		</p>
		<p>
			<strong>U.G. "Zašto ne"</strong><br>
			Envera Šehovića 10/2<br>
			71 000, Sarajevo, BiH<br>
			T: +38733618461<br>
			E-mail: <a href="mailto:info@zastone.ba">info@zastone.ba</a>
		</p>	
	</div>
</div>

