
@{
    ViewBag.Title = JavnaRasprava.Resources.StaticPageData.About_PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rreth nesh</h2>
<div class="row">
	<div class="col-md-8">
		<p><strong>Konsultimipublik.al</strong> është krijuar me qëllim që të nxisë pjesëmarrjen e publikut në procesin e hartimit të ligjeve si dhe të ndihmojë në komunikimin e drejtpërdrejtë ndërmjet qytetarëve dhe deputetëve. Nëpërmjet kësaj platforme, qytetarët mund të njihen me projektligjet që po shqyrtohen nga Kuvendi, të japin mendimin e tyre mbi to si dhe ti bëjnë pyetje deputetëve rreth qendrimit të tyre mbi një projektligj apo çështje të caktuar. Platforma ka si qëllim që të transformohet në një mjet të demokracisë së drejtpërdrejtë, ku qytetarët do të mund të shprehin vullnetin e tyre për projektligjet dhe deputetët e Kuvendit do të votojnë sipas vullnetit të shumicës së qytetarëve.</p>
		<p><strong>Konsultimipublik.al</strong> është krijuar dhe administrohet nga qendra Lex Ferenda (www.lexferenda.al) me ndihmën e organizatës së shoqërisë civile që vepron në Bosnje dhe Herzegovinë U.G. "Zašto ne" (http://zastone.ba), e cila ka krijuar dhe administron një platformë të ngjashme në Bosnje (http://www.javnarasprava.ba). Gjithashtu, platforma është ndërtuar me ndihmën e grupimit TransparenCEE (www. transparencee.org), një komunitet i organizatave të shoqërisë civile, IT dhe organizatave të mediave që përdorin teknologjinë për përmirësimin e tranparencës, llogaridhënies dhe qeverisjes në rajon.</p>
	</div>
	<div class="col-md-4">
		<p>			
            Administrator: Anjeza Gashi<br>
		</p>
		<p>
			<strong>Qendra Lex Ferenda</strong><br>
            Brigada e VIII, P. Techoproject,<br>
            Shk. I, K. 8, Ap. 32, Tiranë<br>
			E-mail: <a href="mailto:info@lexferenda.al ">info@lexferenda.al </a>
		</p>	
	</div>
</div>

