@{
    ViewBag.Title = JavnaRasprava.Resources.StaticPageData.Manual_PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manuali i përdorimit</h2>
<p class="lead">Manuali i përdorimit për platformën konsultimipublik.al – Përdoruesit</p>
<div class="row">
    <div class="col-md-8">
    <p>Manuali i përdorimit për platformën konsultimipublik.al – Përdoruesit</p>
    <p>Pasi të hapni faqen kryesore <a href="www.konsultimipublik.al">www.konsultimipublik.al</a>, si hap të parë, ju duhet të futeni në platformë duke klikuar butonin Futuni në këndin e djathtë të pjesës së sipërme.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image01.png" alt="login-prva.png"></p>
    <p>Më pas, ju duhet të klikoni në butonin e Facebook dhe të ndiqni hapat për të përfunduar procesin e regjistrimit. Në rast se nuk keni një llogari në Facebook, ju duhet të klikoni në linkun Regjistrohuni, të plotësoni formularin me të gjitha të dhënat e nevojshme, dhe më pas të klikoni në butonin Futuni.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image02.png" alt="prijava na sajt.png"></p>
    <p>Konsultimipublik.al ju jep mundësinë për të ndërvepruar me deputetët nëpërmjet tre moduleve. Konsultimi Publik është një modul që mundëson komunikimin e drejtpërdrejtë me deputetët mbi çështje që lidhen me projektligjet që janë duke u shqyrtuar nga Kuvendi. Moduli Pyesni Deputetët ju lejon që t'i bëni pyetje çdo deputeti të Kuvendit dhe moduli Filloni një Peticion ju lejon që të krijoni peticione që do t'i paraqiten Kuvendit. </p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image03.png" alt="moduli.png"></p>
    <h3 id="Konsultimi_Publik">1. Konsultimi Publik</h3>
    <p>Klikoni mbi linkun Konsultimi Publik (shënuar me të kuqe) për të hapur këtë modul. Menjëherë do t'ju shfaqen projektligjet që janë duke u shqyrtuar nga Kuvendi.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image04.png" alt="istaknute teme.png"></p>
    <p>Në rast se projektligji ose një çështje e caktuar për të cilin ju jeni të interesuar nuk shfaqet ndërmjet projektligjeve ose çështjeve të rëndësishme, ju mund ta kërkoni atë me fushën që rregullon projektligji ose duke kërkuar për titullin ose për përshkrimin e tij.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image05.png" alt="pretraga.png"></p>
    <p>Në rast se ju shikoni një çështje që mund t'ju interesojë, ju mund të klikoni në emrin e çështjes ose të projektligjit për të shkuar në faqen kryesore të atij projekligji. Në këtë faqe ju mund të votoni PRO ose KUNDËR projektligjit ose çështjeve të veçanta të tij, mund të shkarkoni të gjithë tekstin e projektligjit, të shikoni gjendjen e tij si dhe t'i bëni pyetje deputetëve rreth projektligjit. </p>
    <p>Për të votuar PRO ose KUNDËR një projektligji ose një çështje të caktuar, ju duhet të klikoni në butonat VOTO (të shënuar me të kuqe dhe të verdhë) dhe më pas do t'ju hapet një dritare ku mund të votoni. Përveç se mundësisë për të votuar PRO ose KUNDËR, ju mund të shkruani edhe mendimin tuaj. </p>
    <p>Në rast se klikoni në butonin Bëni një pyetje (i shënuar me jeshile) do të hapet një dritare e cila ju lejon që ose të zgjidhni një nga pyetjet e paracaktuara ose të bëni vetë një pyetje për një nga deputetët.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image06.png" alt="landing zakon.png"></p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image07.png" alt="popup.png"></p>
    <p>Në rast se doni të bëni një nga pyetjet e paracaktuara, ju duhet të klikoni në kutizën në krah të saj. Në rast se doni të bëni një pyetje tjetër të veçantë, ju lutem shkruani pyetjen dhe shtypni butonin Dërgoni Pyetjen. Pyetja juaj do i dërgohet deputetit të përzgjedhur.</p>
    <h3 id="Pyesni_deputetët">2. Pyesni deputetët</h3>
    <p>Duke klikuar në secilin prej linkeve që shkruan Pyesni Deputetët, ju mund t'i bëni një pyetje të drejtpërdrejtë deputetëve. Pasi të keni klikuar në një prej këtyre linkeve ju mund të zgjidhni deputetin që doni t'i bëni pyetjen.</p>
    <p>Pasi të keni klikuar mbi emrin e deputetit, do të hapet profili i tij/saj.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image08.png" alt="profil parlamentarac.png"></p>
    <p>Duke klikuar mbi butonin Bëni një pyetje të drejtpërdrejtë depuetetit (shënuar me të kuqe) hapet një dritare ku mund të shkruani pyetjen tuaj; pyetja i dërgohet deputetit me email vetëm pasi të klikoni butonin Bëni pyetjen.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image09.png" alt="popup 2.png"></p>
    <h3 id="Filloni_një_peticion">3. Filloni një peticion</h3>
    <p>Duke klikuar në linkun e Peticioneve ose Filloni një peticion, hapet moduli i peticioneve në platformën konsultimipublik.al</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image10.png" alt="peticije.png"></p>
    <p>Ju mund të kërkoni peticione duke u bazuar në institucionin të cilit i drejtohen si dhe me fjalë kyçe (shënuar me të kuqe). Për të filluar një peticion të ri, klikoni në butonin Krijo një peticion të ri (shënuar me të verdhë).</p>
    <p>Në faqen tjetër, plotësoni fushat e nevojshme dhe klikoni mbi butonin Krijo peticionin për të përfunduar procesin e krijimit të peticionit.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/sq/image11.png" alt="peticije - screen.png"></p>
    </div>
    <div class="col-md-4">
            <ol>
                <li><a href="#Konsultimi_Publik">Konsultimi Publik</a></li>
                <li><a href="#Pyesni_deputetët">Pyesni deputetët</a></li>
                <li><a href="#Filloni_një_peticion">Filloni një peticion</a></li>
            </ol>
    </div>
</div>