@{
    ViewBag.Title = JavnaRasprava.Resources.StaticPageData.Manual_PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uputstvo za korištenje</h2>
<p class="lead">Priručnik za korištenje web stranice javnarasprava.ba – korisnici</p>
<div class="row">
    <div class="col-md-8">
    <p>Priručnik za korištenje web stranice javnarasprava.ba – korisnici</p>
    <p>Nakon što dođete na početnu stranicu <a href="https://www.google.com/url?q=http://www.javnarasprava.ba&amp;sa=D&amp;usg=AFQjCNEwUNcBuRcMzlkKHmxYmdLBJZKtAg">www.javnarasprava.ba</a>, prvi korak je da se ulogujete, tako što kliknete na Prijava u gornjem desnom uglu.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image01.png" alt="login-prva.png"></p>
    <p>Nakon toga, potrebno je kliknuti na dugme Facebook i proces prijave je završen. Ukoliko nemate Facebook nalog, potrebno je da kliknete na dugme Registracija, ispunite predviđena polja, te nakon toga kliknete na Prijava, i prijavite se sa svojom e-mail adresom.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image10.png" alt="prijava na sajt.png"></p>
    <p>javnarasprava.ba&nbsp;vam pruža mogućnosti interakcije sa parlamentarcima kroz tri modula. Javna rasprava&nbsp;je modul koji omogućava komunikaciju sa parlamentarcima o pitanjima koja se direktno tiču zakona koji su u proceduri u jednom od parlamenata na državnom i entitetskom nivou. Modul Pitaj parlamentarca omogućava postavljanje direktnih pitanja svim parlamentarcima na državnom ili entitetskom nivou u BiH, a modul Pokrenite peticiju&nbsp;pokretanje peticija koje će biti proslijeđene u jedan od parlamenata na državnom ili entitetskom nivou, u zavisnosti od preferencija korisnika.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image02.png" alt="moduli.png"></p>
    <h3 id="javna_rasprava">1. Javna rasprava</h3>
    <p>Klikom na link Javna rasprava (označen crvenom bojom), otvarate taj modul. Odmah pri ulasku u modul možete odabrati koji Parlament vas interesuje, klikom na ime jednog od tri parlamenta.</p>
    <p>Svaki parlament ima svoje istaknute teme i izdvojene zakone.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image03.png" alt="istaknute teme.png"></p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image06.png" alt="izdvojeni zakoni.png"></p>
    <p>Ukoliko se zakon ili tema koja vas zanima ne nalazi među istaknutim zakonima ili temama, zakon je moguće naći putem Pretrage, gdje možete pretraživati zakone po parlamentu u kojem se nalaze, oblasti na koju se odnose i po naslovu ili opisu zakona.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image05.png" alt="pretraga.png"></p>
    <p>Ukoliko već na prvoj stranici vidite temu koja vam je interesantna, klikom na link sa imenom teme ili klinkom na link sa imenom zakona &nbsp;dolazite na početnu stranicu zakona. Na ovoj stranici možete glasati ZA ili PROTIV zakona ili specifične teme koju zakon tretira, preuzeti cijeli tekst zakona, provjeriti njegov status, kao i postaviti pitanje parlamentarcima o ovom zakonu. (slika 8.)</p>
    <p>Da biste glasali ZA ili PROTIV zakona ili istaknute teme, potrebno je kliknuti na dugme Glasaj (označena crvenom i žutom bojom), nakon kojeg vam se otvara popup prozor za glasanje. Pored opcija ZA ili PROTIV, moguće je upisati i vlastiti odgovor. (slika 10.)</p>
    <p>Klikom na dugme Postavi pitanje (označeno zelenom bojom)&nbsp;otvara se popup prozor koji vam omogućava postavljanje predefinisanih ili vlastitih pitanja, istaknutim parlamentarcima ili parlamentarcima koje vi odaberete.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image09.png" alt="landing zakon.png"></p>
    <p>Ukoliko želite da postavite pitanje većem broju parlamentaraca, potrebno je kliknuti na link Izaberi ostale parlamentarce u popup prozoru i izabrati kojim parlamentarcima želite postaviti pitanje.</p>
    <p>Želimo Vam ugodno korištenje platforme javnarasprava.ba.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image04.png" alt="popup.png"></p>
    <p>Da biste postavili predefinisano pitanje, potrebno je označiti check-box pored pitanja, a ukoliko želite postaviti vlastito pitanje, potrebno je unijeti tekst pitanja i kliknuti na dugme Postavi pitanje.&nbsp;Vaše pitanje će nakon toga biti proslijeđeno parlamentarcima koje ste odabrali.</p>
    <h3 id="pitaj_parlamentarca">2. Pitaj parlamentarca</h3>
    <p>Klikom na neki od linkova Pitaj parlamentarca otvara se modul za postavljanje pitanja parlamentarcima. Klikom na imena parlamenata u BiH birate određeni parlament, a nakon što odaberete parlament, birate parlamentarca kojem želite postaviti pitanje.</p>
    <p>Nakon što kliknete na ime parlamentarca, otvara se njegov profil na javnarasprava.ba.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image00.png" alt="profil parlamentarac.png"></p>
    <p>Klikom na dugme Postavi direktno pitanje parlamentarcu (označeno crvenom bojom) otvara se popup prozor u kojem upisujete svoje pitanje, a klikom na dugme Postavi pitanje pitanje se šalje parlamentarcu.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image11.png" alt="popup 2.png"></p>
    <h3 id="pokreni_peticiju">3. Pokrenite peticiju</h3>
    <p>Klikom na link Peticije ili Pokrenite peticiju , otvara se modul za kreiranje peticija na javnarasprava.ba.</p>
    <p><img class="img-responsive" title="" src="~/Content/Images/Manual/image07.png" alt="peticije.png"></p>
    <p>Peticije je moguće pretraživati po instituciji na koju se odnose i po ključnim riječima (označeno crvenom bojom). Za pokretanje nove peticije, potrebno je kliknuti na dugme Kreiraj novu peticiju (označeno žutom bojojm).</p>
    <p><a name="h.qbp2iz5k1i01"></a>Na sljedećem ekranu potrebno je ispuniti željena polja i kliknuti na dugme Kreiraj peticiju da bi ista bila kreirana.</p>
    <p><a name="h.gjdgxs"></a><img class="img-responsive" title="" src="~/Content/Images/Manual/image08.png" alt="peticije - screen.png"></p>
    </div>
    <div class="col-md-4">
            <ol>
                <li><a href="#javna_rasprava">Javna rasprava</a></li>
                <li><a href="#pitaj_parlamentarca">Pitaj parlamentarca</a></li>
                <li><a href="#pokreni_peticiju">Pokrenite peticiju</a></li>
            </ol>
    </div>
</div>