@{
    ViewBag.Title = JavnaRasprava.Resources.StaticPageData.Manual_PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manuali i përdorimit</h2>
<p class="lead">Udhëzues për përdorimin e faqes konsultimipublik.al - Deputetët</p>
<div class="row">
    <div class="col-md-8">
        <p>
            Ka dy mënyra se si qytetarët mund t'ju bëjnë pyetje nëpërmjet platformës konsultimipublik.al
        </p>
        <p>
            Mënyra e parë është që qytetarët t'ju bëjnë një pyetje mbi projektligjet që janë duke u shqyrtuar ose janë miratuar nga Kuvendi.
        </p>
        <p>
            Në këtë rast, ju do të merrni një email të ngjashëm me atë që tregohet në Figurën 1, si më poshtë:
            (Figura 1)
        </p>
        <p>
            Ju mund t'i përgjigjeni pyetjes duke klikuar në linkun e përgjigjes që ndodhet në tekstin e emailit. Sapo të klikoni mbi linkun, do të shfaqet pamja e treguar në Figurën 2, si më poshtë:
            (Figura 2)
        </p>
        <p>
            Pasi keni shkruar përgjigjen tuaj, ju mund ta dërgoni atë duke shtypur butonin Dërgo.
        </p>

        <p>
            Përgjigja juaj do të shfaqet në profilin tuaj si dhe në faqen e projektligjit nga ku u bë pyetja. (Figura 3 dhe 4)
        </p>
        <p>
            Një mënyrë tjetër nëpërmjet të cilës përdoruesit mund të bëjnë pyetje është edhe nëpërmjet profilit tuaj në platformën konsultimipublik.al. Pasi qytetari ka bërë pyetjen, dhe pyetja është verifikuar nga administratori, ju do të merrni një email të ngjashëm me atë që tregohet në Figurën 5.
        </p>
        <p>
            Ju mund t'i përgjigjeni pyetjes në të njëjtën mënyrë si më sipër.
        </p>


    </div>
</div>
